<section id="clients" class="bg-black text-center py-20">
  <h2 class="text-4xl font-bold mb-6 text-green-500">Our Clients</h2>
  <p class="text-gray-300 mb-12 text-lg">
    We proudly serve clients across diverse industries, including:
  </p>

  <div class="flex flex-wrap justify-center gap-16 px-8">
   
    <div class="flex flex-col items-center">
      <img src="assets\images\Rwanda-Gov-logo-(Horizontal).png" alt="Government" class="h-20 mb-4">
      <p class="text-white text-base text-lg font-semibold">Government</p>
    </div>

  
    <div class="flex flex-col items-center">
      <i class="fas fa-handshake text-white text-6xl mb-4"></i>
      <p class="text-white text-base">NGOs & Development</p>
    </div>

    
    <div class="flex flex-col items-center">
      <i class="fas fa-university text-white text-6xl mb-4"></i>
      <p class="text-white text-base">Financial Services</p>
    </div>

    
    <div class="flex flex-col items-center">
      <i class="fas fa-heartbeat text-white text-6xl mb-4"></i>
      <p class="text-white text-base">Healthcare</p>
    </div>

  
    <div class="flex flex-col items-center">
      <i class="fas fa-graduation-cap text-white text-6xl mb-4"></i>
      <p class="text-white text-base">Education</p>
    </div>


    <div class="flex flex-col items-center">
      <i class="fas fa-microchip text-white text-6xl mb-4"></i>
      <p class="text-white text-base">Technology</p>
    </div>
  </div>
</section>