
  <section id="clients" class="text-center py-16">
    <h2 class="text-3xl font-bold mb-10 text-green-600">Our Clients</h2>
    <p class="text-gray-600 mb-8">We proudly serve clients across diverse industries, including:</p>
  <div class="flex flex-wrap justify-center gap-10 px-6">
    <img src="assets/images/debian.png" alt="Government institutions" class="h-10">
    <img src="assets/images/ubuntu.png" alt="NGOs and development agencies" class="h-10">
    <img src="assets/images/centos.png" alt="Financial services" class="h-10">
    <img src="assets/images/redhat.png" alt=" Healthcare" class="h-10">
    <img src="assets/images/almalinux.png" alt="" class="h-10">
    <img src="assets/images/fedora.png" alt="Fedora" class="h-10">
  </div>
</section>
