<!-- <section id="mission" class="py-24 bg-black bg-opacity-80 text-white">
    <div class="max-w-6xl mx-auto px-4 text-center">
      <h2 class="text-3xl font-bold mb-6 text-green-600">Our Mission</h2>
      <p class="text-gray-600 max-w-3xl mx-auto">
        Our mission is to empower businesses by crafting intelligent and scalable technology solutions that drive
        efficiency, performance, and innovation.
      </p>
    </div>
  </section> -->
  <section id="mission" class="grid grid-cols-1 md:grid-cols-2 py-24 text-center gap-8 px-6 max-w-6xl mx-auto px-4">
  <div class="text-white p-10">
    <h2 class="text-3xl font-bold mb-4 text-green-600">Our Mission</h2>
    <p class="mb-4 text-2xl">  Our mission is to empower businesses by crafting intelligent and scalable technology solutions that drive
        efficiency, performance, and innovation.</p>
    
  </div>
  <div class="text-white p-10">
    <h2 class="text-3xl font-bold mb-4 text-green-600">Our Vision</h2>
    <p class="mb-4 text-2xl">  To be a trusted global leader in technology solutions, shaping the future of digital transformation with
        creativity, integrity, and passion.</p>
    
  </div>
</section>
