<app-navbar></app-navbar>
<main class="mt-16">
  <section id="about"><app-about></app-about></section>
  <section id="mission"><app-mission></app-mission></section>
  <section id="vision"><app-vission></app-vission></section>
  <section id="what-we-do"><app-what-we-do></app-what-we-do></section>
  <section id="why-choose-us"><app-why-choose-us></app-why-choose-us></section>
  <section id="clients"><app-clients></app-clients></section>
  <section id="contact"><app-contact></app-contact></section>
</main>
<app-footer></app-footer>

<router-outlet />
