
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

